﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (!String.IsNullOrEmpty(ViewBag.M)) { 
    <p>@ViewBag.M</p>
}

<form action="/Home/Login" method="post">
    Username： <input type="text" name="email" value="" />
    <br>
    Password： <input type="password" name="pwd" value="" />
    <br>
    <input type="submit" name="" value="submit" />
</form>